<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Category')}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>
	<div class="container">
		<form th:object="${requestNewUser}" th:action="@{/users/}" method="POST">
			<div class="form-group">
				<label for="username">Username</label>
				<input th:field="*{username}" th:errorClass="is-invalid" class="form-control" placeholder="username" />
				<div th:errors="*{username}" class="invalid-feedback"></div>
				
				<label for="firstName">First Name</label>
				<input th:if="${user != null}" name="firstName" th:value="${user.firstName}" th:errorClass="is-invalid" class="form-control" placeholder="first name" />
				<input th:if="${user == null}" th:field="*{firstName}" th:errorClass="is-invalid" class="form-control" placeholder="first name" />
				<div th:errors="*{firstName}" class="invalid-feedback"></div>
				
				<label for="lastName">Last Name</label>
				<input th:if="${user != null}" name="lastName" th:value="${user.lastName}" th:errorClass="is-invalid" class="form-control" placeholder="last name" />
				<input th:if="${user == null}" th:field="*{lastName}" th:errorClass="is-invalid" class="form-control" placeholder="last name" />
				<div th:errors="*{lastName}" class="invalid-feedback"></div>
				
				<label for="password">Password</label>
				<input type="password" th:field="*{password}" th:errorClass="is-invalid" class="form-control" placeholder="password" />
				<div th:errors="*{password}" class="invalid-feedback"></div>
			</div>
			
			<button th:if="${user == null}" class="btn btn-primary mt-3" type="submit">Create User</button>
			<button th:if="${user != null}" class="btn btn-primary mt-3" type="submit">Update User</button>
		</form>
		<a href="/users/" class="link-primary mt-2">Back to list</a>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>