<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Categories')}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>

	<div class="container">
		<a href="/users/form">
			<button class="btn btn-primary btn-sm">New User</button>
		</a>

		<p th:text="${deleteError}">Error</p>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-sm">
				<thead class="table-dark">
					<tr>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Enabled?</th>
						<th>Created At</th>
						<th>Updated At</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${allUsersList}">
						<td><spam th:text="${user.username}">username</spam></td>
						<td><spam th:text="${user.firstName}">firstName</spam></td>
						<td><spam th:text="${user.lastName}">lastName</spam></td>
						<td><spam th:text="${user.enabled}">enabled</spam></td>
						<td><spam
								th:text="${#temporals.format(user.createdAt, 'yyyy-MMM-dd HH:mm')}">createdAt</spam></td>
						<td><spam
								th:text="${#temporals.format(user.updatedAt, 'yyyy-MMM-dd HH:mm')}">updatedAt</spam></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="deleteCategory" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form th:object="${requestCategory}"
					th:action="@{/categories/delete}" method="post">
					<div class="modal-body">
						<input type="hidden" name="categoryId">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
	<script>
		var deleteCategoryModal = document.getElementById('deleteCategory');
		deleteCategoryModal.addEventListener('show.bs.modal', (event) => {
			var btnDelete = event.relatedTarget;
			var categoryId = btnDelete.getAttribute('data-bs-categoryId');
			var categoryName = btnDelete.getAttribute('data-bs-categoryName');
			
			var modalTitle = deleteCategoryModal.querySelector('.modal-title');
			var modalBodyInput = deleteCategoryModal.querySelector('.modal-body input');
			
			modalTitle.textContent = `Delete ${categoryName}, are you sure?`;
			modalBodyInput.value = categoryId;
		});
	</script>
</body>
</html>