<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>
	<div class="container">
		<form th:object="${requestCategory}" action="/category/create" method="POST">
			<div class="form-group">
				<label for="categoryName">Name</label>
				<input th:field="*{categoryName}" th:errorClass="is-invalid" class="form-control" placeholder="Give name to Category" />
				<div th:errors="*{categoryName}" class="invalid-feedback">
				</div>
			</div>
			
			<button class="btn btn-primary" type="submit">Create Category</button>
		</form>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>