<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>

	<div class="container">
		<div class="col-sm-5">
			<a href="/category/form"><button class="btn btn-primary">New Category</button></a>
			<div class="list-group mt-3">
				<a th:each="category : ${categoriesList}" href="#" class="list-group-item list-group-item-action" aria-current="true">
					<spam th:text="${category.name}">Category</spam>
				</a>
			</div>
		</div>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>