<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('User Form')}"></head>
<body onLoad="onLoad()">
	<nav th:replace="~{base :: nav}"></nav>
	<div class="container" id="taskmanagerUserApp">
		<div class="row" v-for="user in users">
			<h3>New User</h3>
			<div class="col-6">
				<label for ="firstName" class="form-label">First Name</label>
				<input type="text" class="form-control" v-model="user.firstName" v-bind:class="{'is-invalid': userErrors.firstName !== ''}" />
				<div v-if="userErrors.firstName" class="invalid-feedback">
					{{userErrors.firstName}}
				</div>
			</div>
			<div class="col-6">
				<label for="lastName" class="form-label">Last Name</label>
				<input type="text" class="form-control" v-model="user.lastName" v-bind:class="{'is-invalid': userErrors.lastName !== ''}" />
				<div v-if="userErrors.lastName" class="invalid-feedback">
					{{userErrors.lastName}}
				</div>
			</div>
			<div class="col-6">
				<label for ="username" class="form-label">Username</label>
				<input type="text" class="form-control" v-model="user.username" v-bind:class="{'is-invalid': userErrors.username !== ''}" />
				<div v-if="userErrors.username" class="invalid-feedback">
					{{userErrors.username}}
				</div>
			</div>
			
			<div class="col-6">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" v-model="user.password" v-bind:class="{'is-invalid': userErrors.password !== ''}" />
				<div v-if="userErrors.password" class="invalid-feedback">
					{{userErrors.password}}
				</div>
			</div>

			<button v-on:click="createUser(user)" class="btn btn-primary mt-2">Criar</button>
		</div>
	</div>
	<script>
		function onLoad() {
			var app = new Vue({
				el: "#taskmanagerUserApp",
				data: {
					message: 'Not Available',
					users: [ {} ],
					userErrors: {
						firstName: '',
						lastName: '',
						username: '',
						password: ''
					}
				},
				mounted () {
					axios
				      .get('http://localhost:8080/api/users/')
				      .then(response => (this.categoriesList = response.data))
				},
				methods: {
					createUser: function (user) {
						this.userErrors = {
							firstName: '',
							lastName: '',
							username: '',
							password: ''
						}
				
						axios
							.post('http://localhost:8080/api/users/', {
								firstName: user.firstName,
								lastName: user.lastName,
								username: user.username,
								password: user.password
							})
							.then(resp => {
								console.log(resp);
								if (resp.request.status == 200)
									console.log('success!!');
							})
							.catch(error => {
								console.log(error.response.data.errors);
								error.response.data.errors.forEach(error => {
									this.userErrors[error.field] = error.defaultMessage;
								})
							})
					}
				}
			});
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>