<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>
	<div class="container">
		<div class="col-sm-5">
			<div class="card text-white bg-secondary mb-3"
				th:each="task : ${tasks}">
				<div class="card-header" th:text="${task.description}">Task
					Name</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-5">
							Category
							<spam th:text="${task.category.name}">Category</spam>
						</div>
						<div class="col-md-5">
							Due Date
							<spam th:text="${task.dueDate}">Due Date</spam>
						</div>
					</div>

					<div class="row">
						<div>Details</div>
						<textarea th:text="${task.details}">Task Details</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>