<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<nav th:replace="~{base :: nav}"></nav>
	<div class="container">

		<div class="p-3 mb-2 bg-light">
			<div class="btn-group">
				<a th:classappend="${status} == null ? 'text-white active'" href="/home" class="btn btn-outline-info" aria-current="page">All</a>
				<a th:classappend="${status} == 'Backlog' ? 'active'" href="/task/Backlog" class="btn btn-outline-primary" aria-current="page">Backlog</a> 
				<a th:classappend="${status} == 'In Progress' ? 'active'" href="/task/In Progress" class="btn btn-outline-warning">In Progress</a>
				<a th:classappend="${status} == 'On Hold' ? 'active'" href="/task/On Hold" class="btn btn-outline-danger">On Hold</a>
				<a th:classappend="${status} == 'Done' ? 'active'" href="/task/Done" class="btn btn-outline-success">Done</a>
			</div>
		</div>

		<div class="col-sm-4 mt-3">
			<div class="card text-white bg-secondary mb-3"
				th:each="task : ${tasks}">
				<div class="card-header d-flex justify-content-between">
					<span th:text="${task.description}">Task Name</span>
					<th:block th:switch="${task.status.name}">
						<span th:case="'Backlog'" class="badge bg-primary"
							th:text="${task.status.name}">Backlog</span>
						<span th:case="'In Progress'" class="badge bg-warning text-dark"
							th:text="${task.status.name}">In Progress</span>
						<span th:case="'On Hold'" class="badge bg-danger"
							th:text="${task.status.name}">On Hold</span>
						<span th:case="'Done'" class="badge bg-success"
							th:text="${task.status.name}">Done</span>
					</th:block>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-5">
							Category
						</div>
						<div class="col-md-5">
							<spam th:text="${task.category.name}">Category</spam>
						</div>
						<div class="col-md-5">
							Due Date
						</div>
						<div class="col-md-5">
							<spam th:text="${#temporals.format(task.dueDate, 'dd/MMM/yyyy HH:mm')}">Due Date</spam>
						</div>
					</div>

					<div class="row">
						<div>Details</div>
						<spam th:text="${task.details}">Task Details</spam>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:replace="~{base :: bootsrapBundle}"></script>
</body>
</html>